*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
.reservation {
  background-color: #fffDD0;
  padding: 4rem 2rem;
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-content {
  max-width: 500px;
  text-align: center;
}

.reservation-content h2 {
  font-size: 2rem;
  color: #690b22;
  margin-bottom: 1rem;
}

.reservation-content p {
  font-size: 1rem;
  color:#690b22;
  margin-bottom: 2rem;
  font-style: italic;
}

.reservation-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reservation-content input,
.reservation-content textarea {
  padding: 0.8rem;
  border: 1px solid #690b22;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
}

.reservation-content button {
  padding: 0.8rem;
  background-color: #690b22;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-content button:hover {
  background-color: rgb(145, 9, 9);
}
